.customer {
    text-align: left;
    margin: 10px 20px;

    .flex-row {
        display: flex;
        align-content: space-between;
    }

    .flex-large {
        width: 60%;
    }

    .flex-small {
        width: 40%;
    }
}
